<!DOCTYPE html>
<html>
<head>
    <title>Tasks App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Tasks App</h1>
        <div class="form-container">
            <h2>Create a Task</h2>
            <form id="task-form">
                <input type="text" id="task-description" required><br><br>
                <button type="submit">Create Task</button>
            </form>
        </div>

        <h2>Task List</h2>
        <ul id="task-list"></ul>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
